##VERİ TÜRLERİ

In [32]:
# String

In [5]:
print('Merhaba veri bilimi')

Merhaba veri bilimi

In [7]:
print("Merhaba veri bilimi")

Merhaba veri bilimi

In [19]:
print("merhaba \
veri \
bilimi")

merhaba veri bilimi

In [ ]:
# İnteger

In [21]:
print(55)

55

In [23]:
print(123456789+1)

123456790

In [25]:
55

55

In [36]:
# Float

In [38]:
5.5

5.5

In [40]:
-55.03

-55.03

In [42]:
type(55.03)

float

In [44]:
5.03e55

5.03e+55

In [46]:
type(5.03e55)

float

In [48]:
45e-111

4.5e-110

In [52]:
55+3j

(55+3j)

In [54]:
type(55+3j)

complex

#Bool

In [62]:
#Complex

55+3j

In [66]:
type(55+3j)

complex

In [68]:
#Bool

In [1]:
type(True)

bool

In [3]:
type(False)

bool

In [5]:
##OPERATÖRLER

In [7]:
#Aritmetik Operatörler

In [9]:
7+5

12

In [11]:
117/34

3.4411764705882355

In [13]:
3**4

81

In [17]:
45//4

11

In [20]:
45%4

1

In [22]:
##FONKSİYONLAR

In [24]:
print("Merhaba veri bilimi dersi")

Merhaba veri bilimi dersi

In [26]:
x=-2019
abs(x)

2019

In [28]:
d=-3.54632
int(d)

-3

In [30]:
notlar= [21,34,57,75,81,83,87,90,93,99,31,37,41]
len(notlar)

13

In [40]:
def plus(a,b):
    return a+b

In [42]:
plus(55,3)

58

In [46]:
def fonk1(x):
    return x*x+5

In [52]:
fonk1(3)

14

In [54]:
def fonk2(x,y,z):
    return x**2+y**3+z**-2

In [56]:
fonk2(3,55,12)

166384.00694444444

In [58]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [60]:
def ortalama(x):
    "x değişkenlerinin ortalamasını hesaplama."
    top_x=sum(x)
    sayı_x=len(x)
    return top_x/sayı_x

In [62]:
ortalama([11,22,33,44,55])

33.0

In [64]:
def harmonik_ortalama(s):
    "s tane sayının harmonik ortalamasını hesapalam."
    n= len(s)
    sayılar=[1/s[i] for i in range(0,n)]
    harmonik_ortalama= n/sum(sayılar)
    return harmonik_ortalama

In [68]:
harmonik_ortalama([10,20,30,40,50,60])

24.489795918367346

In [70]:
23==77

False

In [72]:
34<=55

True

In [74]:
4!=5

True

In [98]:
import pandas as pd
import numpy as np
data = pd.read_csv("C:/Users/sakin/Downloads/fuel.csv")
data.head()

,Model Year,Division,Carline,Eng Displ,# Cyl,City FE,Hwy FE,Comb FE
0,2016,ALFA ROMEO,4C,1.8,4,24,34,28
1,2016,Aston Martin Lagonda Ltd,V12 Vantage S,6.0,12,12,18,14
2,2016,Aston Martin Lagonda Ltd,V8 Vantage,4.7,8,14,21,16
3,2016,Aston Martin Lagonda Ltd,V8 Vantage,4.7,8,13,19,15
4,2016,Aston Martin Lagonda Ltd,V8 Vantage S,4.7,8,14,21,16

In [108]:
print(data.shape)

(1205, 8)

In [106]:
print(data.columns)

Index(['Model Year', 'Division', 'Carline', 'Eng Displ', '# Cyl', 'City FE',
       'Hwy FE', 'Comb FE'],
      dtype='object')

In [112]:
data.head(10)

,Model Year,Division,Carline,Eng Displ,# Cyl,City FE,Hwy FE,Comb FE
0,2016,ALFA ROMEO,4C,1.8,4,24,34,28
1,2016,Aston Martin Lagonda Ltd,V12 Vantage S,6.0,12,12,18,14
2,2016,Aston Martin Lagonda Ltd,V8 Vantage,4.7,8,14,21,16
3,2016,Aston Martin Lagonda Ltd,V8 Vantage,4.7,8,13,19,15
4,2016,Aston Martin Lagonda Ltd,V8 Vantage S,4.7,8,14,21,16
5,2016,Aston Martin Lagonda Ltd,V8 Vantage S,4.7,8,13,19,15
6,2016,Aston Martin Lagonda Ltd,Vantage GT,4.7,8,14,21,16
7,2016,Aston Martin Lagonda Ltd,Vantage GT,4.7,8,13,19,15
8,2016,Audi,TT Roadster quattro,2.0,4,23,30,26
9,2016,BMW,M4 GTS,3.0,6,16,23,19

In [114]:
data.tail

<bound method NDFrame.tail of       Model Year                  Division          Carline  Eng Displ  # Cyl  \
0           2016                ALFA ROMEO               4C        1.8      4
1           2016  Aston Martin Lagonda Ltd    V12 Vantage S        6.0     12
2           2016  Aston Martin Lagonda Ltd       V8 Vantage        4.7      8
3           2016  Aston Martin Lagonda Ltd       V8 Vantage        4.7      8
4           2016  Aston Martin Lagonda Ltd     V8 Vantage S        4.7      8
...          ...                       ...              ...        ...    ...
1200        2016                    TOYOTA  SEQUOIA 4WD FFV        5.7      8
1201        2016                Volkswagen          Touareg        3.0      6
1202        2016                Volkswagen          Touareg        3.6      6
1203        2016                     Volvo         XC90 AWD        2.0      4
1204        2016                     Volvo         XC90 AWD        2.0      4

      City FE  Hwy FE  Comb FE
0          24      34       28
1          12      18       14
2          14      21       16
3          13      19       15
4          14      21       16
...       ...     ...      ...
1200       13      17       14
1201       21      29       24
1202       17      23       19
1203       20      25       22
1204       22      25       23

[1205 rows x 8 columns]>

In [118]:
data.describe()

,Model Year,Eng Displ,# Cyl,City FE,Hwy FE,Comb FE
count,1205.0,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000
mean,2016.0,3.150041,5.628216,20.461411,28.215768,23.295436
std,0.0,1.336714,1.837556,5.449821,5.987383,5.567975
min,2016.0,0.900000,3.000000,10.000000,13.000000,12.000000
25%,2016.0,2.000000,4.000000,17.000000,24.000000,19.000000
50%,2016.0,3.000000,6.000000,20.000000,28.000000,23.000000
75%,2016.0,3.700000,6.000000,23.000000,32.000000,27.000000
max,2016.0,8.400000,12.000000,58.000000,53.000000,56.000000

In [120]:
data.describe(include=['O'])

       Division Carline
count      1205    1205
unique       43     768
top         BMW   Jetta
freq        107       6